$small: 320px;
$medium: 900px;

.c-login {
    background-image: url('../../assets/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    &__position {
        align-items: center;
        text-align: center;

        @media (min-width: 600px) {
            width: 300px;
        }

        @media (min-width: 900px) {
            width: 500px;
        }
    } 
}

h1 {
    color: white;
}